<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CryBloga | Все посты</title>
</head>
<body>

  <header>
    <nav>
      <a href="{% url 'blog:home_page' %}">Главная</a>
      <a href="{% url 'blog:post_list' %}">Посты</a>
    </nav>
  </header>

  <h1>Все посты</h1>

  {# Отображение постов #}
  {% if posts %}
    {% for post in posts %}
      <div class="post-container" style="background-color: crimson; color: white; border: 1px solid black; margin-bottom: 10px; padding: 15px;">
        <h2>Заголовок поста: {{ post.title }}</h2>
        <p>Текст поста: {{ post.text }}</p>
        <small>Дата создания поста: {{ post.created_at }}</small>
      </div>
    {% endfor %}
  {% else %}
    <p>Постов ещё нет. Загляните позже!</p>
  {% endif %}

</body>
</html>
